{% load static %}
{% if request.path == url %}
    <a class="nav-link active" href="{{ url }}">
        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <img style="width: 24px !important;" src="{% static active_icon %}" alt="{{ title }}">
        </div>
        <span class="nav-link-text ms-1">{{ title }}</span>
    </a>
{% else %}
    <a class="nav-link" href="{{ url }}">
    <a class="nav-link" href="{{ url }}">
        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <img style="width: 24px !important;" src="{% static icon %}" alt="{{ title }}">
        </div>
        <span class="nav-link-text ms-1">{{ title }}</span>
    </a>
{% endif %}
